* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

#header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FF900E10;
}

/* ~~~~~~~~~share-style~~~~~~~ */
.nav-container,
.hero-container,
main {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
}

.display-flex {
  display: flex;
}

.primary-button {
  border: none;
  background-color: #FF900E;
  color: white;
  border-radius: 8px;
  padding: 18px 24px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

/* ~~~~~~~~~common style~~~~~~~~~ */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-tittle {
  font-size: 2rem;
  font-weight: bold;
  color: #131313;
}


.nav-menu {
  gap: 40px;
}

.nav-menu li {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 26px;
  color: #424242;
}

/* ~~~~~~~hero style~~~~~ */
.hero {
  border-bottom: 2px solid rgba(0, 0, 0, 0.607);
  padding-bottom: 45px;
}

.hero-img {
  width: 100%;
  /* height: 700px; */
}

.hero-content {
  text-align: center;
  align-items: center;
  max-width: 862px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;

}

.banner-tittle {
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
  margin-bottom: 25px;
}

.banner-discription {
  font-size: 1rem;
  color: #727272;
  line-height: 26px;
  margin-bottom: 25px;
}

/* ~~~~~~~~~~~~team and feature style~~~~~~~~ */

.teams {
  margin-top: 85px;
}

.team-container {
  gap: 70px;
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}

.our-features {
  width: 537px;
  text-align: left;
}

.feature-tittle {
  color: #131313;
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 24px;
}

.feature-heading-color1 {
  color: #727272;
  font-weight: 500;
}

.feature-heading-color2 {
  color: #FF900E;
  font-weight: bold;
}

.feature-description {
  font-size: 1rem;
  color: #727272;
  line-height: 26px;
  margin-bottom: 32px;
}















/* ~~responsive media query~~ */
/* for mobile */
@media screen and (max-width:576px) {

  .nav-menu,
  .nav-content {
    flex-direction: column;
  }

  .nav-container,
  .hero-container {
    width: 95%;
  }

  .nav-tittle {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .nav-link {
    text-align: center;
  }

  .hero {
    margin-top: 50px;
  }

  .banner-tittle {
    font-size: 2rem;
    margin-bottom: 25px;
  }

  .hero-content {
    margin-bottom: 20px;
    margin-top: 50px;
  }

  .primary-button {
    border: none;
    padding: 12px 18px;
    font-size: 1.11rem;
  }

  /* ~~~teams feature~~~ */
  .team-container {
    flex-direction: column;
  }

  .team-img-container img {
    grid-template-columns: repeat(1, 1fr);
    width:100%;
    margin: 0 auto;
    gap: 0;
  }

  .our-features {
    width: 95%;
  }

  .team-container {
    gap: 40px;
  }
}