* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

#header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FF900E10;
}

/* ~~~~~~~~~share-style~~~~~~~ */
.nav-container,
.hero-container,
main {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
}

.display-flex {
  display: flex;
}

.primary-button {
  border: none;
  background-color: #FF900E;
  color: white;
  border-radius: 8px;
  padding: 18px 24px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

.description-color {
  color: #727272;
}

/* ~~~~~~~~~common style~~~~~~~~~ */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-tittle {
  font-size: 2rem;
  font-weight: bold;
  color: #131313;
}


.nav-menu {
  gap: 40px;
}

.nav-menu li {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 26px;
  color: #424242;
}

/* ~~~~~~~hero style~~~~~ */
.hero {
  border-bottom: 2px solid rgba(0, 0, 0, 0.607);
  padding-bottom: 45px;
}

.hero-img {
  width: 100%;
  /* height: 700px; */
}

.hero-content {
  text-align: center;
  align-items: center;
  max-width: 862px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;

}

.banner-tittle {
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
  margin-bottom: 25px;
}

.banner-discription {
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 25px;
}

/* ~~~~~~~~~~~~team and feature style~~~~~~~~ */

.teams {
  margin-top: 85px;
}

.team-container {
  gap: 50px;
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}

.our-features {
  width: 550px;
  height: 304px;
  text-align: left;
}

.section-tittle {
  color: #131313;
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 24px;
}

.feature-heading-color1 {
  color: #727272;
  font-weight: 500;
}

.feature-heading-color2 {
  color: #FF900E;
  font-weight: bold;
}

.feature-description {
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 32px;
}


/* ~~~~~facts style~~~~~ */
.fact {
  margin-top: 100px;
}

.facts-container {
  margin: 0 auto;
  padding: 100px 50px 0 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}



.facts-card {
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  padding: 45px 35px 59px 35px;
  text-align: center;
  margin: 0 auto;
}

.fact-number {
  font-size: 2.6rem;
  color: #424242;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.facts-description {
  font-size: 20px;
  font-weight: 600;
  max-width: 532px;
  line-height: 26px;

}







/* ~~responsive media query~~ */
/* for mobile */
@media screen and (min-width:576px) and (max-width:992px) {
  .team-container {
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
  }

  .nav-tittle {
    font-size: 1rem;

  }

  .team-img-container img {
    width: 100%;
    gap: 0px;
  }

  .our-features {
    width: 100%;
  }

  .primary-button {
    padding: 14px 20px;
    font-size: 1.17rem;
  }

  /* ~~~~~~~~facts style~~~~~~ */
  .fact {
    margin-top: 50px;
  }

  .facts-container {
    padding: 50px 30px 0 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    /* row-gap: 20px;
    column-gap: 20px; */
    gap: 20px;
  }

  .facts-card {
    margin: 0 auto;
  }

  .facts-description {
    max-width: 40px;
  }
}









/* ~~responsive media query~~ */
/* for mobile */
@media screen and (max-width:576px) {

  .nav-menu,
  .nav-content {
    flex-direction: column;
  }

  .nav-container,
  .hero-container {
    width: 95%;
  }

  .nav-tittle {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .nav-link {
    text-align: center;
  }

  .hero {
    margin-top: 50px;
  }

  .banner-tittle {
    font-size: 2rem;
    margin-bottom: 25px;
  }

  .hero-content {
    margin-bottom: 20px;
    margin-top: 50px;
  }

  .primary-button {
    border: none;
    padding: 12px 18px;
    font-size: 1.11rem;
  }

  /* ~~~teams feature~~~ */

  .team-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    /* gap: 10px; */
    justify-content: center;
  }

  .team-img-container img {
    margin: 0 auto;
    width: 100%;
  }

  .feature-tittle {
    color: #131313;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 18px;
  }

  .our-features {
    width: 95%;
  }

  .team-container {
    gap: 40px;
  }

  /* ~~~~facts section~~~~ */


  .facts-container {
    padding: 50px 50px 0 50px;
    grid-template-columns: repeat(1, 4fr);
    /* row-gap: 20px;
      column-gap: 20px; */
    padding: 100px 10px 0 10px;
    gap: 20px;
    margin: 0 auto;
  }

  .facts-card {
    margin: 0 auto;
  }

}